*{
    margin:0;
    padding:0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*main*/
    #mainContent{
        width:85vw;
        margin-left: auto;
        margin-right: auto;
    }

/*Header*/
    .header{
        background: #3573d6;
        color:white;
        height:80px;
        margin-bottom:10px;
        }
        .logo{
            text-transform: uppercase;
            }
            .linklogo{
                color:white;
                text-decoration: none;
            }

/*nav*/
    .navbar{
        background:rgb(13, 6, 117);
        color:white;
        }
        a{  color:white}

/*contenido*/

        /*modelo de caja
        el ancho real del elemento = width+padding+border
        En html5, con la prop box-sizing:border-box, el ancho real es el width
        */

    #portada{
        width:78%;
        background:rgb(78, 77, 77);
        padding:20px;
        float:left;
        box-sizing:border-box;
    }
    .sidebar-der{
        width:20%;
        background:grey;
        height:100px;
        padding:20px;
        float:right;
        box-sizing:border-box;
    }

    .footer{
        clear:both;
    }






            
    




