*{
    margin:0;
    padding:0;
    
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*main*/
    #mainContent{
        width:85vw;
        margin-left: auto;
        margin-right: auto;
    }

/*Header*/
    .header{
        background: #3573d6;
        color:white;
        height:80px;
        margin-bottom:10px;
        }
        .logo{
            text-transform: uppercase;
            }
            .logo a{
                color:white;
                text-decoration: none;
            }

/*nav*/
    .navbar{
        background:rgb(13, 6, 117);
        color:white;
        /* padding:0.7em; */
        }
        /*selectores anidados
        padre descendiente{
            propiedades que solo modifican al hijo
        }
        section p{ color:green; }
        
        abuelo>padre>hijo{}        
        section>p{ color:green;}
        */
    /* .navbar a{ color:white} */

    /*Menu de Navegacion*/
    .navbar ul{
        list-style-type:none;
        text-align:right;
        /* padding:0; ya esta eliminado por el universal (*{})*/
        }
        .navbar ul li{
            /*float:left;util para menus desplegables*/
            display: inline-block ;/*no util para menus desplegables*/
            }
            .navbar ul li a{
                text-decoration: none;
                display:block;
                padding: 10px;
                color:white;
                }
                /*pseudo-clases*/
                .navbar ul li a:hover{
                    background: white;
                    color:rgb(13, 6, 117);
                }

/* #portada:hover,aside:hover{
    background:tomato;
} */
        
.limpiaFloat{clear:both}

/*contenido*/

        /*modelo de caja
        el ancho real del elemento = width+padding+border
        En html5, con la prop box-sizing:border-box, el ancho real es el width
        */
    
    #portada{
        width:78%;
        background:rgb(78, 77, 77);
        padding:1.6em;
        float:left;
        box-sizing:border-box;
        }

        /*agrupamiento de selectores*/
        .destacado,.default{
            background:white;
            padding:0.7em;
        }
        .destacado{
            margin-bottom:0.6em;
        }
        #portada .default{
            box-sizing:border-box;
            float:left;
            width:50%;
            height:350px;
            overflow: hidden;
        }

        /*imagenes*/
        #portada .imgNota img{
            /*el ancho se aplica a <img>*/
            width:100%;
        }

    /*Noticias*/

    .breadcrumb{
        padding:0.8em;
        background:rgba(255, 255, 255, 0.5);color:white
        }
        .breadcrumb a{ color:white;text-decoration: none;}

    .notasola{
        background:rgb(30, 147, 214);
        padding:1em;
    }
    .notasola .titulos{
        padding:0.5em;
        }
        .notasola .titulos h2{
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size:2em;
            margin-bottom:0.5em;
        }
        .notasola .titulos h3{
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size:1.5em;
            margin-bottom:0.5em;
        }

    .notasola figure img{
        width: 100%;
    }
    .notasola .textos{
        padding:1em 0 1em 0;/*top right bottom left -> en sentido horario x*/
        margin-bottom:2em;
    }
    .notasola .textos p{
    margin-bottom:0.6em;
    }
    .banner-nota{
        border:1px solid grey
    }
    .banner-nota a img{
        width:100%
    }


    /*Forulario Contacto*/

    #formContacto{
        padding: 1.2em;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        margin-bottom: 2em;
        margin-top: 1em;
        }
        #formContacto input, #formContacto select, #formContacto textarea{
            width:100%;
            padding:0.8em;
            box-sizing: border-box;
            margin-bottom:1em;
            border-radius:3px;
            border:none;
            font-family: Arial, Helvetica, sans-serif;
            font-size:1em;
            }
            /* .check{ width:5% !important;} /*mala practica*/
            /*.btn-envio{width:50% !important;} */

            /*selector de etiqueta[atributo="valor"]*/
            #formContacto input[type="checkbox"]{
                width:auto;
            }
            #formContacto input[type="submit"]{
                width:50%;
            }

            /*Pseudoclases*/
            #formContacto input[type="submit"]:hover{
                background:rgb(32, 32, 180);
                color:white;
            }
            #formContacto input:focus{
               background: grey; 
            }
            #formContacto input:valid{
                border:1px green solid;
            }
            #formContacto input:invalid{
                border:1px red solid;
            }




    .sidebar-der{
        width:20%;
        background:grey;
        height:100px;
        padding:20px;
        float:right;
        box-sizing:border-box;
    }

    .footer{
        clear:both;
        background:rgb(76, 169, 206);
        color:white;
        text-align:center;
        padding:10px;
        font-size: 0.8em;
    }






            
    




