html{
    font-size:16px;
    font-family: Arial, sans-serif;
}
body{
    padding:0;
    margin: 0;
    background:gold;
}

.contenedor{
    width:80vw;
    height:100vh;
    margin-left:auto;
    margin-right:auto;
    border:2px solid #c72c2c;
    /*border = border-width + border-style + border-color*/
    padding:20px;
    /* font-size:2rem; */
    background:rgba(255, 255, 255, 0.527);
    }

    .header{
       text-align: center; 
    }

    .contenidos{
        background-color: grey;
        color:white;
        padding:20px; /*inherit = heredado*/
        }
        .destacado{
            font-weight: bold;
        }

    .footer{
        text-align: right;
        font-family: 'Times New Roman', Times, serif;
        background-image: url('../img/banner.jpg'); /*url => Uniform Resource Location*/
        height:80px;
    }

