*{
	margin: 0;
	padding: 0;
	font-family: "arial"	
}
#contenedor{
	width: 90%;
	margin: 0 auto;
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
	}
	.primero{
		background: rgb(207,0,15);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;
	}
	.segundo{
		background: rgb(34,167,240);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;

	}
	.tercero{
		background: rgb(38,166,91);
		width: 30%;
		padding: 1%;
		box-sizing: border-box;
	}

/* .caja{clear:both} */

#contenedor img{width: 100%}

.header{
	background: white;
	color:tomato;
	padding: 0.5em 3em;
	margin-bottom:2em;
	display:flex;
	justify-content: space-between;
	}

	.logo{
		width:30%;
		align-self: center;
	}
	.navbar ul{
		display: flex;
		list-style-type: none;
		}
		.navbar ul li{
			padding: 1em;
		}

.banner-top{
	padding: 1.5em;
	display: flex;
	justify-content: center;
}

.footer{
	margin-top:4em;
	border-top:5px solid white;
	padding: 2em 3em;
	background: rgb(82, 15, 15);
	color:white;
	display:flex;
	justify-content: space-between;
	}
	.data{
		background: rgba(255, 255, 255, 0.5);
		padding:2em;
		color:black;
		border-radius:10px;
	}
	.map{
		width:60%;
	}


/*Media Queries*/

/*Breakpoints*/
/*Xlarge -> mas de 1201px*/


/*selector de funcionalidad -> @import:url() / @keyframes*/

/*Large -> 990px - 1200px */

@media screen and (min-width: 990px) and (max-width:1200px){
	body{background:tomato;}
}

/*Medium -> 660px - 989px */
@media screen and (min-width:660px) and (max-width:989px){
	body{background: goldenrod;}

	header{
		flex-wrap: wrap;
		}
		.logo{
			width: 100%;
			text-align:center;
		}

	.banner-top{
		/* visibility: hidden; */
		display:none;
	}

	.primero{
		width:100%;
		padding:2em;
		}
		.primero figure{
			height: 300px;
			overflow: hidden;
			/*podemos mover la imagen con transform: translateY() */	
		} 
	.segundo, .tercero{
		width: 50%;
		padding:2em;
	}
	#contenedor article h2{
		font-size:2.2em;
		margin:0.8em 0;
	}
	#contenedor article p{
		font-size:1.4em;
		margin-bottom:0.4em;
	}

}


/*Small -> 0px - 659px*/
@media screen and (min-width:0px) and (max-width:659px){
	body{background: green;}

	#contenedor{
		width: 100%;
	}

	header{
		flex-wrap: wrap;
		}
		.logo{
			width: 100%;
			text-align:center;
		}
		.navbar{
			width:100%;
		}
		.navbar ul{
			flex-direction: column;
			
			}
			.navbar ul li{
				background: tomato;
				color:white;
				margin: 0.3em 0;
			}
	.banner-top{
		/* visibility: hidden; */
		display:none;
	}

	.primero, .segundo, .tercero{
		width:100%;
	}
	#contenedor article h2{
		font-size:2.3em;
		margin:0.9em 0;
	}
	#contenedor article p{
		font-size:1.4em;
		margin-bottom:0.4em;
	}
	#contenedor article figure{
		height: 40vh;
		overflow: hidden;
	}


} 



